<p id="notice"><%= notice %></p>


<section>
  <!-- Page content-->
  <div class="content-wrapper">
    <small>Proposal Request</small><br>
    <div class="content-heading">
      <!-- START Language list-->

      <!-- END Language list    -->

      <%= @proposal.name %>
      <small data-localize="dashboard.WELCOME"></small>
    </div>

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @proposal.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @proposal.description %>
    </p>

    <p>
      <strong>Submit date:</strong>
      <%= @proposal.approval_date %>
    </p>
    <p>
      <strong>Submit date:</strong>
      <%= @proposal.submit_date %>
    </p>
    <%= link_to 'Edit', edit_proposal_path(@proposal) %> |
    <%= link_to 'Back', proposals_path %>


    <h2>Related Needs</h2>
    <%= render partial: 'needs/needs_table' %>






    <div class="col-sm-6">
      <!-- START panel-->
      <div class="panel panel-default">
        <div class="panel-heading">Program Needs Impacted</div>
        <div class="panel-body">
          <% @needs.each do |need| %>
              <%= link_to need do %><%= need.name %><% end %> (<%= need.fiscalyear %>)<br>
          <% end %>

        </div>
      </div>
      <!-- END panel-->
    </div>











  </div>
</section>