<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @province.description %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @province.capital %>
</p>

<p>
  <strong>Population:</strong>
  <%= @province.population %>
</p>

<p>
  <strong>Area:</strong>
  <%= @province.area %>
</p>

<p>
  <strong>Iso:</strong>
  <%= @province.iso %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
